{% extends 'base.html' %}

{% block content %}
<div class="main-wrapper">
    <header class="page-title theme-bg-light text-center gradient py-5">
        <h1 class="heading">Submit New Password/h1>
    </header>
    <br>
<div class="container">
  <div class="vh-100 d-flex row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h4 class="card-title text-center">Submit New Password</h4>
          <p> Check your email for OTP</p>
          <form method="post">
             {% csrf_token %} 
            {% if messages%}
            {% for message in messages%}
            <ul> {{message}} </ul>

            {% endfor%}
            

            {% endif %}
            <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
              </div>
            
            <div class="mb-3">
              <label for="new_password" class="form-label">Repeat New Password</label>
              <input type="password" class="form-control" id="repeat_password" name="repeat_password" required>
            </div>
            <div class="mb-3">
                <label for="OTP" class="form-label">OTP</label>
                <input type="text" class="form-control" id="otp" name="otp" required>
              </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer text-center py-2 theme-bg-dark">
		   
    <p class="copyright"><a href="">FollowBlogly</a></p>
   
</footer>
</div>
{% endblock %}
