{% extends 'base.html' %}
{% load static %}  

{% block content %}
    
    <div class="main-wrapper">
	    <header class="page-title theme-bg-light text-center gradient py-5">
			<h1 class="heading">Blog Posts</h1>
		</header>
	    <section class="content px-3 py-5 p-md-5">
		    <div class="container">
				{% for blog in blogs %}
			    <div class="post mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ blog.image.url }}" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{% url 'post_detail' blog.pk %}">{{blog.title}}</a></h3>
						    <div class="meta mb-1"><span class="date">{{blog.date_published}}</span><span class="time">{{blog.read_time}} min read</span><span class="comment"><a href="#">{{blog.comment_count}} comments</a></span></div>
						    <div class="intro">{{blog.body|striptags|safe|truncatewords:20 }}</div>
						    <a class="more-link" href="{% url 'post_detail' blog.pk %}">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div>
			    {% endfor %}
			    
			    <nav class="blog-nav nav nav-justified my-4">
					<span>
						{% if blogs.has_previous %}
							<a href="?page=1">&laquo; First</a>
							<a href="?page={{ blogs.previous_page_number }}">Previous</a>
						{% endif %}
				
						<span class="current-page">
							Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
						</span>
				
						{% if blogs.has_next %}
							<a href="?page={{ blogs.next_page_number }}">Next</a>
							<a href="?page={{ blogs.paginator.num_pages }}">Last &raquo;</a>
						{% endif %}
					</span>

				</nav>
				
		    </div>
	    </section>
	    
	    <footer class="footer text-center py-2 theme-bg-dark">
		   
            <p class="copyright"><a href="">FollowBlogly</a></p>
		   
	    </footer>
    
    </div><!--//main-wrapper-->
    
{% endblock %}




