{% extends 'base.html' %}
{% load static %}  

{% block content %}

	<div class="main-wrapper">
		<header class="page-title theme-bg-light text-center gradient py-5">
			<h1 class="heading">{{post.title}}</h1>
		</header>
		<article class="content px-3 py-5 p-md-5">
			<div class="container">
				<header class="content-header">
					<div class="meta mb-3"><span class="date">{{post.date_published}}</span><span class="tags"><i class='fa fa-user'> {{post.author.first_name}} {{post.author.last_name}}</i> </span><span class="tag"><i class='fa fa-tag'></i> 
						
						 
						{{post.tags}} 
						</span>
						
						<span class="tag"><i class='fa fa-tag'></i> {{post.category}} </span><span class="comment"><a href="#comments"><i class='fa fa-comment'></i> {{comments.count}} comments</a></span></div>
				</header>

				<div class="content-body">
					<figure class="blog-banner">
						<a href="#"><img class="img-fluid" src="{{ post.image.url }}" alt="image"></a>
						<figcaption class="mt-2 text-center image-caption">Image Credit: <a href="#" target="_blank">{{post.image_credited}}</a></figcaption>
					</figure>
					<div class="bodypost-ckeditor">
						{{ post.body|safe }}
					</div>
					
					<div class="upvote">
						
						<p><i class="fas fa-thumbs-up"></i> {{ post.upvotes.all.count }}</p>
    					<p><i class="fas fa-thumbs-down"></i> {{ post.downvotes.all.count }}</p>
						{% if user.is_authenticated %}
						<form method="post">
						{% csrf_token %}
						{% if request.user in post.upvotes.all %}
    					<button class="upvote btn btn-primary" disabled value="upvote" type="submit" name="">Upvote</button>
						{% else %}
						<button class="upvote btn btn-primary" value="upvote" type="submit" name="upvote">Upvote</button>
						{% endif %}
						{% if request.user in post.downvotes.all %}
    					<button class="downvote btn btn-danger" disabled value="downvote" type="submit" name="">Downvote</button>
						{% else %}
						<button class="downvote btn btn-danger" value="downvote" type="submit" name="downvote">Downvote</button>
						{% endif%}
						{% else %}
						  <a href="{% url 'login' %}" class="btn btn-sm btn-outline-success">Login to Vote</a>
						{% endif %}
						
					  </div>
				<div class="comments-wrapper">


					<div class="comments" id="comments">


						<div class="comments-header">

							<h2 class="comment-reply-title">
								{{comments.count}} replies on “{{post.title}}” </h2><!-- .comments-title -->

						</div><!-- .comments-header -->

						<div class="comments-inner">
							{% if post.author != request.user and user.is_authenticated %}
							<form method="post">
								{% csrf_token %}
								<div class="input-group">
									<div class="input-group-prepend">
									  
									</div>
									<textarea class="form-control" aria-label="With textarea" name="comment"></textarea>
									
									
								  </div>
								  <br>
								  <button class="btn btn-primary btn-lg active" type='submit'>  Comment </button>
								</form>
							{% endif %}
							{% if not user.is_authenticated%}
							<a href="{% url 'login' %}" class="btn btn-sm btn-outline-success">Login to Comment</a>
							{% endif %}
							
							
							
							
							<div id="comment-3"
								class="comment byuser comment-author-andrew bypostauthor even thread-odd thread-alt depth-1">
								{% for comment in comments %}
								{% if not comment.reply_comment %}
								<article id="div-comment-3" class="comment-body">
									<footer class="comment-meta">
										<div class="comment-author vcard">
											{% if comment.author.profile.profile_picture.url %}
											<img alt=""
												src="{{comment.author.profile.profile_picture.url}}"
												class="avatar avatar-120 photo" height="120" width="120">
											{% else %}
											<img alt=""
												src="http://2.gravatar.com/avatar/e297925dbb035adc0b67aa14da4dcc0a?s=120&amp;d=mm&amp;r=g"
												class="avatar avatar-120 photo" height="120" width="120">{% endif %}<span
												class="fn">{{comment.author.first_name}} {{comment.author.last_name}}</span><span
												class="says sr-only">says:</span> </div>
										<!-- .comment-author -->

										<div class="comment-metadata">
											
												<time datetime="2020-03-25T20:09:31+00:00"
													title="March 25, 2020 at 8:09 pm">
													{{comment.date_published}} </time>
											</a>
											<span aria-hidden="true">•</span>
										</div><!-- .comment-metadata -->

									</footer><!-- .comment-meta -->
									{% if user.is_authenticated %}
									<div class="comment-content entry-content">

										<p>{{comment.text}}</p>
										<form method="post">
											{% csrf_token %}
										<div class="comment">
											
											<button class="btn btn-primary reply-button" data-comment-id="{{ comment.id }}" type="button" data-bs-toggle="collapse" data-bs-target="#reply-form-{{ comment.id }}" aria-expanded="false" aria-controls="reply-form-{{ comment.id }}">Reply</button>
											<div class="collapse reply-form" id="reply-form-{{ comment.id }}">
											  <div class="card card-body">
												<textarea class="form-control reply-textarea" name="reply"></textarea>
												<br>
												<input type="hidden" value="{{comment.pk}}" name="object_pk">
												<button class="btn btn-primary-center submit-reply-button" data-comment-id="{{ comment.id }}" type="submit">Submit</button>
											  </div>
											</div>
										  </div>
										</form>
									</div>
									{% endif%}<!-- .comment-content -->
									{% endif %}
									
									<div id="comment-2"
									class="comment byuser comment-author-andrew bypostauthor odd alt depth-2">
									
									
									{% for reply_comment in comment.comment_set.all %}
      								

									<article id="div-comment-2" class="comment-body">
										
										<footer class="comment-meta">
											<div class="comment-author vcard">
												{% if reply_comment.author.profile.profile_picture.url %}
											<img alt=""
												src="{{reply_comment.author.profile.profile_picture.url}}"
												class="avatar avatar-120 photo" height="120" width="120">
											{% else %}
											<img alt=""
												src="http://2.gravatar.com/avatar/e297925dbb035adc0b67aa14da4dcc0a?s=120&amp;d=mm&amp;r=g"
												class="avatar avatar-120 photo" height="120" width="120">{% endif %}<span
													class="fn">{{reply_comment.author.first_name}} {{reply_comment.author.last_name}}</span><span
													class="says sr-only">says:</span> </div>
											<!-- .comment-author -->
											
											<div class="comment-metadata">
												
													<time datetime="{{reply_comment.date_published}} "
														title="{{reply_comment.date_published}} ">
														{{reply_comment.date_published}} </time>
												</a>												
											</div><!-- .comment-metadata -->

										</footer><!-- .comment-meta -->

										<div class="comment-content entry-content">

											<p>{{reply_comment.text}}</p>

										</div><!-- .comment-content -->

										
										


									</article><!-- .comment-body -->
									
									{% endfor %}
									
								</div><!-- #comment-## -->
								
									
								{% endfor %}
								
								</article><!-- .comment-body -->
								
							</div><!-- #comment-## -->
							
						</div><!-- .comments-inner -->

					</div><!-- comments -->

					<hr class="" aria-hidden="true">
					<div id="respond" class="comment-respond">
						{% if user.is_authenticated %}
						<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
						{% else %}
						<h3 id="reply-title" class="comment-reply-title">Leave a <a href="{% url 'login' %}">Reply</a></h3>
						{% endif %}
					</div><!-- #respond -->

				</div>

			</div>
			<!--//container-->
		</article>




		<footer class="footer text-center py-2 theme-bg-dark">

			<p class="copyright"><a href="">FollowBlogly</a></p>

		</footer>

	</div>
	<!--//main-wrapper-->

	<script>
		// Get all reply buttons
		const replyButtons = document.querySelectorAll('.reply-button');
	  
		// Attach click event listener to each reply button
		replyButtons.forEach(replyButton => {
		  replyButton.addEventListener('click', (event) => {
			const commentId = event.target.dataset.commentId;
			const replyForm = document.getElementById(`reply-form-${commentId}`);
			if (replyForm.classList.contains('show')) {
			  replyForm.classList.remove('show');
			} else {
			  replyForm.classList.add('show');
			}
		  });
		});
	  
		// Get all submit reply buttons
		const submitReplyButtons = document.querySelectorAll('.submit-reply-button');
	  
		// Attach click event listener to each submit reply button
		submitReplyButtons.forEach(submitReplyButton => {
		  submitReplyButton.addEventListener('click', (event) => {
			const commentId = event.target.dataset.commentId;
			const replyTextarea = document.querySelector(`textarea[name="reply-${commentId}"]`);
			const replyText = replyTextarea.value;
			
			// Perform any necessary actions with the reply text (e.g., submit it to the server)
			
			// Clear the reply textarea and hide the reply form
			replyTextarea.value = '';
			const replyForm = document.getElementById(`reply-form-${commentId}`);
			replyForm.classList.remove('show');
		  });
		});
	  </script>	
	  <script>
		// Find all image tags within the post body
		const postBody = document.querySelector('.bodypost-ckeditor');
		const images = postBody.querySelectorAll('img');
	
		// Loop through each image and set the desired height and width
		images.forEach((image) => {
			image.style.height = '400px';  // Set the desired height in pixels
			image.style.width = 'auto';
			image.style.display = 'block'; // Set the image to display as a block element
        	image.style.marginLeft = 'auto'; // Center the image horizontally by setting left margin to auto
        	image.style.marginRight = 'auto';    // Set the width to 'auto' for proportional scaling
		});
	</script>
{% endblock %}


